@media only screen and (max-width: 1500px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 95%;
  }
}
@media only screen and (max-width: 1300px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 65%;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 100px) {
  html {
    font-size: 30%;
  }
}
