@media only screen and (max-width: 900px) {
  .header-img {
    position: relative;
    display: flex;
    box-sizing: border-box;
    max-width: 1000%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .middle {
    position: relative;
    height: 90vh;
  }
}
